/* Example
@use "utils" as u;
@include u.breakpoint(large){
    grid-template-columns: 2fr 1fr;
}
@include u.breakpoint(medium){
    grid-template-columns: 1fr 1fr;
}
*/
footer {
  width: 100%;
  min-height: 40rem;
  background-color: var(--grayishBlue);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
}
footer .socialmedia ul {
  display: flex;
}
footer .socialmedia ul li {
  margin: 2rem;
  list-style-type: none;
}
footer .listas {
  width: 70%;
  min-width: 800px;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}
footer .listas .list {
  width: 22rem;
}
footer .listas .list h2 {
  font-size: var(--f600);
}
footer .listas ul li {
  list-style-type: none;
}
footer .listas ul li a {
  color: var(--midBlue);
}
footer .listas ul li a:hover {
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--turquoise);
}

@media (max-width: 56.24875em) {
  footer .listas {
    min-width: 200px;
    align-items: center;
    flex-direction: column;
  }
  footer .listas .list {
    margin-block: 1rem;
  }
  footer p {
    padding-inline: 1rem;
  }
}
header {
  display: flex;
  justify-content: center;
  height: 100px;
  background-color: #2f2f2f;
}
header .bars-icon {
  width: 40px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
}
header .nav-bar {
  width: 65vw;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
header .nav-bar ul {
  margin-top: 3rem;
  display: flex;
  min-width: 700px;
  width: 100%;
  justify-content: space-around;
  color: var(--white);
  font-size: 2rem;
}
header .nav-bar ul li {
  list-style-type: none;
}
header .nav-bar ul li a {
  font-size: 2rem;
  color: var(--white);
}
header .nav-bar ul li a:hover {
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--seaBlue);
}

@media (max-width: 56.24875em) {
  header {
    justify-content: right;
    height: 60px;
  }
  header img {
    margin: 1rem;
  }
  header .bars-icon {
    display: block;
  }
  header .nav-bar {
    padding: 0;
    text-align: right;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header .nav-bar ul {
    display: flex;
    justify-content: unset;
    align-items: center;
    min-width: 100px;
    margin-top: 0;
    flex-direction: column;
    background-color: #293744;
    visibility: hidden;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 60px;
    height: calc(100vh - 60px);
    min-height: 30rem;
  }
  header .nav-bar ul li {
    margin-block: 2rem;
  }
  header .nav-bar .deploy {
    visibility: visible;
  }
}
:root {
  --fs-xl: clamp(3rem, 12vw + 1rem, 12rem);
  --fs-800: clamp(2.5rem, 3vw + 0.5rem, 5rem);
  --fs-700: clamp(2.2rem, 3vw + 1.2rem, 3.5rem);
  --fs-600: clamp(1.8rem, 1vw + 1rem, 2.2rem);
  --fs-500: clamp(1.4rem, 1vw + 1rem, 1.8rem);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-family: "Open sans", sans-serif;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

.home-link {
  margin: 3rem;
  text-align: center;
}

.data-bg {
  margin: 5rem 0;
  width: 100%;
  height: 50rem;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("../../assets/mexicoBeach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  background-attachment: fixed;
}
.data-bg .data {
  width: 65%;
  min-width: 800px;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}
.data-bg .data .logros {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.data-bg .data .logros .logro-texto {
  display: block;
  color: var(--white);
  font-size: var(--fs-600);
  font-weight: 700;
}
.data-bg .data .logros .logro-texto span {
  font-size: var(--fs-800);
  font-weight: 700;
}
.data-bg .data .nosotros {
  width: 35rem;
  height: 32rem;
  background-color: var(--white);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.5);
  padding: 3rem;
  font-size: var(--fs-600);
}

article {
  width: 50%;
  min-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 15rem auto;
}
article .info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
article h1 {
  font-size: 3rem;
  text-align: center;
  color: var(--darkBlue);
}
article p {
  margin-top: 2.5rem;
  font-size: var(--fs-500);
  line-height: 3rem;
}
article img {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.display-none {
  height: 100%;
  overflow: hidden;
}

@media (max-width: 56.24875em) {
  .home-link {
    margin: 1rem auto;
    width: 70%;
  }
  .home-link a {
    width: 60%;
  }
  .home-link a img {
    width: 100%;
  }

  .data-bg {
    height: 52rem;
  }
  .data-bg .data {
    min-width: 200px;
    width: 85%;
    flex-direction: column;
  }
  .data-bg .data .nosotros {
    max-width: 350px;
    margin-top: 1rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  article {
    margin: 5rem auto;
    width: 90%;
    min-width: 200px;
  }
}
header .overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
}
header video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
header .landpage {
  background-color: rgba(0, 0, 0, 0);
}
header .landpage-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
header .landpage-info .frase {
  text-align: center;
  color: var(--white);
  font-size: var(--fs-800);
}
header .landpage-info .register-btn {
  width: 18rem;
  height: 5rem;
  color: var(--white);
  background-color: rgba(0, 0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.8rem;
  border: 3px solid var(--white);
}
header .landpage-info .register-btn:hover {
  color: var(--midBlue);
  border: 3px solid var(--midBlue);
  text-shadow: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
header .landpage-info .register-btn:active {
  background-color: lightgray;
  transition: all 0.1s ease;
}

@media (max-width: 56.24875em) {
  header .overlay .nav-bar {
    align-self: flex-end;
    text-align: right;
  }
  header .overlay .nav-bar .bars-icon {
    margin-right: 10vw;
    align-self: flex-end;
  }
  header .overlay .nav-bar ul {
    background-color: rgb(41, 55, 68);
  }
  header .overlay .nav-bar .deploy {
    visibility: visible;
  }
}
.go-back {
  font-size: var(--fs-500);
  background-color: var(--blue);
  color: var(--white);
  padding-inline: 1rem;
  border-radius: 2px;
  position: fixed;
  top: 1rem;
  left: 2rem;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}
.container img {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.container .formulario {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .formulario form {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
}
.container .formulario legend {
  font-size: var(--fs-800);
  margin-bottom: 10rem;
}
.container .formulario input {
  width: 40rem;
  height: 3rem;
  border: 1px solid var(--blue);
  display: block;
}
.container .formulario button {
  margin: 5rem 0;
  background-color: var(--blue);
  color: var(--white);
  border: 0;
  height: 3.5rem;
  font-size: 1.7rem;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
}
.container .formulario button:hover {
  cursor: pointer;
  background-color: var(--grayishBlue);
  transition: all 0.3s ease;
}
.container span {
  font-size: 1.5rem;
}
.container a {
  font-size: 1.5rem;
  color: var(--seaBlue);
}

@media (max-width: 56.24875em) {
  .cleaner-img {
    margin: 1rem;
    display: none;
  }

  .container {
    background-image: url("../../assets/beachCleaner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .container .formulario {
    width: 80%;
    max-width: 38rem;
    margin: auto auto;
    background-color: white;
    border-radius: 1rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container .formulario legend {
    margin-block: 1rem;
  }
  .container .formulario button {
    margin-block: 2rem;
  }
  .container .formulario a {
    margin-bottom: 1.5rem;
  }
  .container .formulario form {
    width: 80%;
  }
  .container .formulario form input {
    width: 100%;
  }
}
:root {
  --white: #ffffff;
  --darkBlue: #112945;
  --turquoise: #a4f6f0;
  --grayishBlue: #3e667e;
  --seaBlue: #3f9bb6;
  --midBlue: #7abfc9;
  --blue: #266ec2;
}/*# sourceMappingURL=style.css.map */