@use "../utils/" as u;
footer {
  width: 100%;
  min-height: 40rem;
  background-color: var(--grayishBlue);
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: var(--white);
  .socialmedia {
    ul {
      display: flex;
      li {
        margin: 2rem;
        list-style-type: none;
      }
    }
  }
  .listas {
    width: 70%;
    min-width: 800px;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    .list {
      width: 22rem;
    }
    ul {
      li {
        list-style-type: none;
        a {
          color: var(--midBlue);
          &:hover {
            cursor: pointer;
            transition: all 0.2s ease;
            color: var(--turquoise);
          }
        }
      }
    }
  }
}
@include u.breakpoint-down(medium) {
  footer {
    .listas {
      min-width: 200px;
      align-items: center;
      flex-direction: column;
      .list {
        margin-block: 1rem;
      }
    }
  }
}
